<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xmlns="http://java.sun.com/xml/ns/javaee" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
         id="WebApp_ID" version="3.0">
         <!-- 注册servlet到项目中 -->
         <servlet>
         <!-- name是给你要注册的servlet起一个名字，随便写，不能重复，一般为简单类名-->
         	<servlet-name>AServlet</servlet-name>
         <!-- 为完整类名 -->
         	<servlet-class>cn.servlet.hello.AServlet</servlet-class>
  		 </servlet>
  		 
  		 <!-- 分配路径给servlet -->
  		 <servlet-mapping>
  		 	<!-- 为当前在为哪个servlet分配路径 不能随便填 -->
  		 	<servlet-name>AServlet</servlet-name>
  		 	<!-- "/"相对于项目路径 ==>http://localhost:8081/WebTest3
  		 	访问该servlet的URL==>http://localhost:8081/WebTest3/AServlet-->
  		 	<url-pattern>/AServlet</url-pattern>
  		 </servlet-mapping>
  <display-name>WebTest3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
</web-app>